.app-container {
  font-family: sans-serif;
  padding: 20px;
  background-color: #f4f4f4; /* Light background for the app */
  color: #333; /* Dark text */
}

.cards-container {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.app-container.dark-mode {
  background-color: #1e1e1e;
  color: #f0f0f0;
}